@import 'tailwindcss';
@import "flatpickr/dist/flatpickr.min.css";
@import "@tabler/icons-webfont/dist/tabler-icons.min.css";

@plugin "daisyui" {
    themes: light --default;
}

/** enable dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';

@source '../../resources/**/*.blade.php';
@source '../../vendor/masmerise/livewire-toaster/resources/views/*.blade.php';


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
    /* lebar scrollbar */
    height: 10px;
    /* tinggi scrollbar horizontal */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* warna track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* warna thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* warna saat hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    /* auto | thin | none */
    scrollbar-color: #888 #f1f1f1;
    /* thumb | track */
}